body {
    background-color: var(--background);
    color: var(--text);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bubble-content {
    width: 100%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button {
    width: calc(50% - 5px);
}