body {
    background-color: var(--background);
    color: var(--text);
    font-family: 'Samsung', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bubble-content {
    width: 100%;
}