body {
    background-color: var(--background);
    color: var(--text);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bubble-content {
    width: 100%;
}

seperatorhorizontal {
    border-bottom: 3px solid var(--separator-horizontal);
    width: 100%;
    box-sizing: border-box;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}