<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Samsung Widgets" Version="1.0.0" Manufacturer="Project OneUI" UpgradeCode="{E7A2A3A4-F76C-4B1B-9BC3-35A98F481C82}" Language="1033">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="SamsungWidgets">
          <!-- The entire directory will be populated by Heat -->
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="MainFeature" Title="Main Feature" Level="1">
      <ComponentGroupRef Id="MyComponentGroup" />
    </Feature>
  </Product>

  <Fragment>
    <ComponentGroup Id="MyComponentGroup" Directory="INSTALLFOLDER" />
  </Fragment>
</Wix>
