bubble {
    background-color: var(--background-secondary);
    padding: 20px 20px 20px 20px;
    border-radius: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bubble-info {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    box-sizing: border-box;
    transition: all .2s ease-in-out;
    border-radius: 33px;
}

seperatorhorizontal {
    border-bottom: 3px solid var(--separator-horizontal);
    width: 100%;
    box-sizing: border-box;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

seperatorvertical {
    border-left: 2px solid var(--separator-vertical);
    margin-right: 5px;
    height: 20px;
    width: 3px;
    box-sizing: border-box;
    display: flex;
}

