.primary-button {
    background-color: var(--accent);
}

button {
    color: var(--text);
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 33px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.primary-button:hover {
    background-color: var(--accent-active);
}

.secondary-button {
    background-color: var(--secondary-darker)
}

.secondary-button:hover {
    background-color: var(--secondary-darker-active)
}