body {
    height: 100vh;
    top: 0;
    margin: 0;
}

#container-main {
    height: 100%;
    width: 100%;
    border-radius: 33px;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 20px 20px;
    box-sizing: border-box;
    align-items: center;
    color: var(--text);
}

#weather-icon {
    height: 55px;
}

#container-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

#weather-temperature {
    font-size: 45px;
}

#weather-location,
#weather-state {
    font-weight: bold;
}

#weather-state {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    width: auto;
    max-width: 180px;
    text-overflow: ellipsis;
}

#container-location {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#weather-time {
    font-size: 12px;
}