body {
    height: 100vh;
    top: 0;
    margin: 0;
}

#container-main {
    width: 100%;
    height: 100%;
    background-color: var(--background-secondary);
    border-radius: 33px;
    z-index: 1;
    display: flex;
    color: var(--text);
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 15px 15px 15px 15px;
    box-sizing: border-box;
    backdrop-filter: invert(50%);
}

#music-cover {
    background-color: var(--secondary-darker);
    height: 95px;
    border-radius: 19px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

#container-right {
    display: flex;
    flex-direction: column;
    height: 90px;
    width: auto;
    justify-content: space-around;
}

#music-title {
    font-weight: medium;
}

#music-artists {
    color: var(--secondary);
    font-weight: normal;
    font-size: 14px;
}

#music-title,
#music-artists {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 265px;
}

progressbar {
    width: 256px;
    height: 8px;
    border-radius: 3px;
    background-color: var(--secondary);
}

#music-progress {
    width: 0%;
    height: 8px;
    border-radius: 3px;
    background-color: var(--text);
}

container-text {
    display: flex;
    width: auto;
}

#container-progress-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 256px;
    color: var(--secondary);
    font-size: small;
}