body {
    background-color: var(--background);
    color: var(--text);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bubble-info:active {
    background-color: #26262c;
    padding: 7px 7px 7px 7px;
}