body {
    top: 0;
    margin: 0;
    height: 100vh;

}

#container-main {
    height: 100%;
    width: 100%;
    display: flex;
    background-color: var(--background-secondary);
    border-radius: 33px;
    justify-content: flex-start;
    padding: 20px 20px 20px 20px;
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
    color: var(--text);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30px;
}