body {
    height: 100vh;
    width: 100vw;
    top: 0;
    margin: 0;
    box-sizing: border-box;
}

#container-main {
    width: 100%;
    height: 100%;
    border-radius: 33px;
    display: flex;
    color: var(--text);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 20px 20px 20px;
    box-sizing: border-box;
}

#time {
    font-family: 'Clock';
    font-size: 50px;
}

#date {
    color: var(--secondary);
    font-size: 14px;
}